__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

/logs/
/wandb/
/outputs/
/evaluation/
/eval_logs/

*.ckpt
*.safetensors
*.pth
*.pt
*.bin

/datasets/
/data/
/LIBERO/
/calvin_env/
/flower_libero_*/
